[submodule "bundle/vimclojure"]
	path = bundle/vimclojure
	url = https://github.com/vim-scripts/VimClojure.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/puppet"]
	path = bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/vim-terraform"]
	path = bundle/vim-terraform
	url = https://github.com/hashivim/vim-terraform
